# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Logs
logs/
*.log
*.log.*
/log

# Build output
dist/
build/
out/
.tmp/

# TypeScript
*.tsbuildinfo

# Environment variables
.env
.env.*.local
application-local.conf

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace

# MacOS
.DS_Store

# Linux
*.pid

# Windows
Thumbs.db
ehthumbs.db

# Dependency directories
jspm_packages/

# Miscellaneous
*.bak
*.orig
*.rej
*.patch
*.seed
*.pid.lock

# Coverage
coverage/
*.lcov

# Flyway
flyway.conf
/flyway/sql/

# Docker
docker-compose.override.yml
*.env

# Ignore local workspace settings
*.code-workspace

# OpenAPI Generator
**/dto/docs/
**/api/docs/
**/.openapi-generator/

# Kotlin compiler
.kotlin/

# Python
__pycache__/
*.pyc